<!doctype html>
<html>
  <head>
    <title>My Little Webapp: Coding Is Magic</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
  </head>
  <body>
  	<img src="http://railsgirls.com/images/rg-warsaw.png" />
  	<div>
  <h1>My favourite websites</h1>
  <h2><%= @entry.title %></h2>
  <p><%= @entry.date %></p>
  <p><%= @entry.contents %></p>
  <p><%= link_to("Back to all entries", entries_path) %></p>
  <p><%= link_to("Edit this entry", edit_entry_path(@entry)) %></p>
  <p><%= link_to("Delete this entry", entry_path(@entry)) %></p>

  </div>
  <div>
  
  <%= form_for Comment.new do |f| %>
    <%= f.hidden_field :entry_id, value: @entry.id %>
    <p><%= f.label("entry_id") %></p>
    <p><%= f.label("nick") %></p>
    <p><%= f.text_field("nick") %></p>
    <p><%= f.label("contents") %></p>
    <p><%= f.text_area("contents") %></p>
    <p><%= f.submit %></p>
<% end %>
   <% for comment in @entry.comments %>
    <h3><%= comment.nick %></h3>
  <p><%= comment.contents %></p>
  <p><%= link_to("Delete this comment", comments_path(@comment)) %></p>
  <%end%>
  </div>
  
  </body>
</html>