<!doctype html>
<html>
  <head>
    <title>My Little Webapp: Coding Is Magic</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
  </head>
  <body>
  	<div>
  <h1>My favourite websites</h1>
    <ul>
    </ul>
  </div>
  <img src="http://railsgirls.com/images/rg-warsaw.png" />
  </body>
         <% for entry in @entries %>
  <h2><%= link_to(entry.title, entry_path(entry)) %></h2>
  <p><%= entry.date %></p>
  <% if entry.youtube_url %>
  <%= youtube_embed entry.youtube_url %>
  <%end%>
  <p><%= link_to image_tag(entry.image(:large)), entry.image.url %></p>
  <p><%= entry.contents %></p>
  <p><%= link_to "Delete", entry_path(entry), method: :delete %></p>

<% end %>
<%= link_to("New entry", new_entry_path) %>
</html>
