<!doctype html>
<html>
  <head>
    <title>My Little Webapp: Coding Is Magic</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rawgithub.com/krzysztofbialek/Rails-Girls-Warsaw-App/master/style.css" />
  </head>
  <body>
  	<div>
  <h1>My favourite websites</h1>
    <ul>
<% for website in @websites %>
  <li><a href="<%= website.url %>"><%= website.title %></a></li>
<% end %>
    </ul>
  </div>
  <img src="http://railsgirls.com/images/rg-warsaw.png" />

  <% for entry in @entries %>
    <h3><%= entry.title %></h3>
    <p><%= entry.date %></p>
    <p><%= entry.contents %></p>
    <p><%= link_to image_tag(entry.image.url(:large)), @entry.image.url %></p>
<%= link_to("Edit this entry", edit_entry_path(entry.id)) %>
<% end %>
 <%=render "form"%>
  </body>
</html>
